#rss-form {
  margin: 0 auto;
  width: 400px;
  padding: 20px;

  .form-group {
    label {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    .form-control {
      // ...
    }

    .feedback {
      display: block;
    }
  }

  .btn {
    // ...
  }
}
